<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta name="description" content="Krótki opis zawartości strony.">
    <meta name="author" content="Jakub Kaźmierczyk">
    <meta name="theme-color" content="#24262b">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="RentalSite.styles.css" />
    <link rel="stylesheet" href="/bootstrap/MainLayout.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <meta property="og:title" content="Tytuł strony">
    <meta property="og:description" content="Opis strony">
    <meta property="og:image" content="obrazek.jpg">
    <meta property="og:url" content="https://example.com">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tytuł strony">
    <meta name="twitter:description" content="Opis strony">
    <meta name="twitter:image" content="obrazek.jpg">

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
