@page "/CookiesPL"

<body>
    <div style="width: 100%; height: 100%; padding: 10px 10px 10px 10px">
    <h2>Podstawowe Informacje</h2>
    <p>Pliki cookies to  pliki wysyłane przez serwer internetowy do przeglądarki użytkownika i przechowywane na jego komputerze. Pliki te pomagają nam analizować ruch sieciowy i rozpoznają, która część naszej strony internetowej była odwiedzana. Nasza strona internetowa używa również takich plików by móc indywidualnie zwrócić się do każdego Użytkownika, dostosowując działania do potrzeb konkretnych Użytkowników poprzez gromadzenie oraz zapamiętywanie informacji o preferencjach oraz w celu umożliwienia logowania się do konta. Informacje te są wykorzystywane tylko i wyłącznie do celów analizy danych statystycznych, następnie są usuwane z naszych systemów.</p>
    <p>Pliki cookies nie umożliwiają nam dostępu do komputera Użytkownika lub informacji o Nim za wyjątkiem informacji o tym, w jaki sposób korzysta z naszej Strony internetowej oraz danych osobowych, którymi Użytkownik zdecyduję się z nami podzielić (włączając w to dane osobowe, które udostępnia nam ze względu na ustawienia swojej przeglądarki).</p>
    <p>W celu monitorowania i ulepszania naszej strony internetowej gromadzimy zbiorcze informacje na temat Użytkowników w momencie, kiedy przeglądają nasze strony, w tym są to m.in. szczegóły dotyczące systemu operacyjnego, wersji przeglądarki, nazwy domeny, adresu IP, adresu URL, z którego Użytkownicy trafiają  na naszą stronę i pod który się udają oraz które podstrony naszych stron internetowych odwiedzają. Możemy prowadzić ogólne statystyki, zbierać dane dotyczące ruchu sieciowego na stronie internetowej oraz informacje o spokrewnionych stronach i udostępniać te dane zbiorcze osobom trzecim w celach marketingowych, reklamowych lub innych celach promocyjnych, jednak te dane zbiorcze nie zawierają żadnych danych osobowych. Z tych samych względów możemy gromadzić informacje dotyczące tego, w jaki sposób Użytkownicy korzystają z Internetu poprzez wykorzystywanie ciasteczek zapisanych na twardym dysku w komputerze. Ciasteczka zawierają informacje, które przenoszone są na twardy dysk komputera Użytkowników. Pomaga nam to w udoskonalaniu naszej Strony internetowej i oferowaniu lepszych i bardziej spersonalizowanych usług.</p>
    <h2>Jakie pliki cookies wykorzystujemy?</h2>
    <p>Wykorzystujemy następujące pliki cookies:
    <ul>
            <li>
                <strong>Niezbędne</strong> – pliki cookies tego typu są niezbędne, by móc poruszać się po naszej stronie internetowej oraz korzystać z niej, zapewniając np. dostęp do zabezpieczonych obszarów witryny.

            </li>
            <li><strong>Funkcjonalne</strong> – pliki cookies tego typu pomagają nam poprawiać efektywność prowadzonych działań marketingowych oraz dostosowywać je do Twoich potrzeb i preferencji np. poprzez zapamiętanie wszelkich wyborów dokonywanych na stronach.</li>
            <li><strong>Statystyczne</strong> – pliki cookies tego typu pomagają właścicielem stron internetowych zrozumieć, w jaki sposób różni użytkownicy zachowują się na stronie, gromadząc i zgłaszając anonimowe informacje.</li>
            <li><strong>Marketingowe</strong> – pliki cookies stosowane są w celu śledzenia użytkowników na stronach internetowych. Celem jest wyświetlanie reklam, które są istotne i interesujące dla poszczególnych użytkowników i tym samym bardziej cenne dla wydawców i reklamodawców strony trzeciej.</li>
    </ul>
    </p>

    <h2>Pozostałe informacje</h2>
    <p>Na naszej stronie internetowej wyświetli się komunikat zanim na komputerze Użytkownika zostaną zapisane informacje w postaci plików cookies. Stosowane są również wyskakujące okienka bądź banery tak, abyś mógł zarządzać plikami cookies.  Zarządzać ustawieniami plików cookies można za pomocą przeglądarki (co pozwala na wyłączenie akceptacji wszystkich lub niektórych plików cookies). Przeglądarka może żądać potwierdzenia zmiany ustawień. Należy pamiętać, , że włączenie blokady wszystkich plików cookies może skutkować brakiem dostępu do niektórych części naszej Strony internetowej. Należy pamiętać, że podmioty zewnętrzne również mogą wykorzystywać pliki cookies w celu przeanalizowania, w jaki sposób korzysta się z ich stron internetowych, na co my nie mamy żadnego wpływu.</p>
    <h2>W jaki sposób możemy samodzielnie regulować istotę cookies podczas przeglądania strony?</h2>
    
    <ul>
        <li><strong>Google Chrome</strong>: Ustawienia > Pokaż ustawienia zaawansowane > Prywatność > Ustawienia treści.</li>
        <li><strong>Internet Explorer</strong>: Narzędzia > Opcje Internetowe > Prywatność > Witryny.</li>
        <li><strong>Mozilla Firefox</strong>: Narzędzia > Opcje > Prywatność.</li>
        <li><strong>Opera</strong>: Narzędzie > Preferencje > Zaawansowane > Ciasteczka.</li>
    </ul>
    </div>
</body>


@code {

}
