@page "/fun"

@rendermode InteractiveServer

<PageTitle>Fun</PageTitle>


ZMienic mozliwoac wpisania imienia z malej i zmienianie tego potem
<form>
    <div class="form-group">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" @bind="newPersonName" class="form-control" placeholder="First"><br>
    </div>

    <div class="form-group">
        <label for="sname">Surname:</label><br>
        <input type="text" id="sname" @bind="newPersonSurname" class="form-control" placeholder="Surname"><br>
    </div>

    <div class="form-group">
        <label for="sex">Sex:</label><br>
        <select id="sex" @bind="newPersonSexString" class="form-control">
            <option value="">Select</option>
            <option value="Mężczyzna">Mężczyzna</option>
            <option value="Kobieta">Kobieta</option>
        </select><br>
    </div>

    <div class="btn-block">
        <button type="button" class="button btn btn-primary " style="background:#cc0052 " @onclick="AddPerson" disabled="@(string.IsNullOrEmpty(newPersonName) || string.IsNullOrEmpty(newPersonSurname) || string.IsNullOrEmpty(newPersonSexString))">Dodaj osobę</button>
    </div>
    
</form>





@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-warning" role="alert" style="padding:10px; margin-top:10px; display: inline-block;">
        @errorMessage
    </div>
}
<br />


@code {
    // Person person1 = new("Jacek","Matysiak", EnumSex.men);
    // Person person2 = new("Marysia", "Ysia", EnumSex.woman);
   
    private string newPersonName = "";
    private string newPersonSurname = "";
    private EnumSex newPersonSex = EnumSex.blad;
    private string newPersonSexString="";
    private string errorMessage = "";






    protected override void OnInitialized()
    {
        // home.AddPerson(person1);
        // home.AddPerson(person2);
    }

    private void AddPerson()
    {
        errorMessage = ""; 
        try
        {
            if (!string.IsNullOrWhiteSpace(newPersonName) && !string.IsNullOrWhiteSpace(newPersonSurname))
            {
                if(newPersonSexString=="Kobieta"){
                    newPersonSex = EnumSex.woman;
                }
                else if (newPersonSexString == "Mężczyzna"){
                    newPersonSex = EnumSex.men;
                }
                

                // home.AddPerson(new Person(newPersonName, newPersonSurname, newPersonSex));
                newPersonName = "";
                newPersonSurname = "";
                newPersonSexString = "";
                newPersonSex = EnumSex.blad;
                StateHasChanged();
            }
        }
        catch (ArgumentException ex)
        {
            errorMessage = ex.Message;
        }
       
    }
}
<style>
    form {
        width: 100%;
        padding: 20px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 0 10px 0 #cc0052;
    }

    .btn-block {
        margin-top: 10px;
        text-align: center;
    }

    btn {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #cc0052;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
    }

        btn:hover {
            /* background: #ff0066; */
            background: #ff2211;
        }

</style>
