@page "/PrivacyPolicyPL"


<div style="background-color:white">
<h2>1. Postanowienia ogólne</h2>
<p>1.1. Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych Użytkowników Serwisu <strong>Słoneczny zakątek</strong> (dalej: "Serwis").</p>
<p>1.2. Administratorem danych osobowych jest <strong>78Developments</strong>, z siedzibą pod adresem <strong>Busko-Zdrój</strong> (dalej: "Administrator").</p>
<p>1.3. Dane osobowe Użytkowników przetwarzane są zgodnie z obowiązującymi przepisami prawa, w tym Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 (RODO).</p>

<h2>2. Zakres i cel przetwarzania danych</h2>
<p>2.1. Dane osobowe Użytkowników mogą być przetwarzane w następujących celach:</p>
<ul>
    <li>realizacja usług dostępnych w Serwisie,</li>
    <li>kontaktowanie się z Użytkownikiem,</li>
    <li>cele marketingowe i statystyczne,</li>
    <li>realizacja obowiązków prawnych Administratora.</li>
</ul>
<p>2.2. Dane zbierane są za zgodą Użytkownika lub w ramach prawnie uzasadnionego interesu Administratora.</p>

<h2>3. Prawa Użytkownika</h2>
<p>3.1. Użytkownik ma prawo do:</p>
<ul>
    <li>dostępu do swoich danych,</li>
    <li>sprostowania danych,</li>
    <li>usunięcia danych („prawo do bycia zapomnianym”),</li>
    <li>ograniczenia przetwarzania,</li>
    <li>przenoszenia danych,</li>
    <li>sprzeciwu wobec przetwarzania danych,</li>
    <li>wniesienia skargi do organu nadzorczego.</li>
</ul>

<h2>4. Ochrona danych</h2>
<p>4.1. Administrator stosuje odpowiednie środki techniczne i organizacyjne zapewniające bezpieczeństwo danych osobowych.</p>
<p>4.2. Dostęp do danych mają jedynie upoważnione osoby oraz podmioty współpracujące na podstawie umów zapewniających ochronę danych.</p>

<h2>5. Przekazywanie danych</h2>
<p>5.1. Dane mogą być przekazywane podmiotom współpracującym z Administratorem, jeśli jest to niezbędne do realizacji celów przetwarzania.</p>
<p>5.2. Administrator nie przekazuje danych poza Europejski Obszar Gospodarczy (EOG), chyba że zapewnione zostaną odpowiednie zabezpieczenia.</p>

<h2>6. Okres przechowywania danych</h2>
<p>6.1. Dane przechowywane są przez okres niezbędny do realizacji celów, dla których zostały zebrane.</p>
<p>6.2. Po upływie tego okresu dane są usuwane lub anonimizowane.</p>

<h2>7. Postanowienia końcowe</h2>
<p>7.1. Administrator może wprowadzać zmiany w Polityce Prywatności. O istotnych zmianach Użytkownicy będą informowani.</p>
<p>7.2. W sprawach nieuregulowanych niniejszym dokumentem zastosowanie mają przepisy RODO i prawa polskiego.</p>
<p>7.3. Kontakt z Administratorem można uzyskać poprzez adres e-mail: <strong>78Developments@gmail.com</strong>.</p>


</div>







@code {

}
